<div class="article-container">
  <div class="article-hero" [style.background-image]="article?.heroImage ? 'url(' + article.heroImage + ')' : null">
    <h1 class="article-title">{{article?.title}}</h1>
    <div class="article-meta">By {{article?.author}} | {{article?.date}}</div>
  </div>
  <div class="article-body">
    <div *ngFor="let section of article?.sections">
      <div *ngIf="section.type === 'text'" class="article-text" [innerHTML]="sanitizeHtml(section.content)"></div>
      <img *ngIf="section.type === 'image'" [src]="section.content" alt="Article Image" class="article-image">
      <a *ngIf="section.type === 'link'" [href]="section.url" target="_blank" class="explore-btn">Explore</a>
      <iframe *ngIf="section.type === 'iframe'" [src]="section.url | safe" frameborder="0" allowfullscreen class="embedded-iframe"></iframe>
      <iframe *ngIf="section.type === 'iframe-internal'" [src]="section.url | safe" frameborder="0" allowfullscreen class="embedded-iframe internal-iframe"></iframe>
      <eu-values *ngIf="section.type === 'euvalues'"></eu-values>
      <app-map *ngIf="section.type === 'map'" [mapdata]="section.map"></app-map>
      <div class="responsive-youtube" *ngIf="section.type === 'yt-playlist'">
        <iframe [src]="section.url | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="responsive-youtube" *ngIf="section.type === 'yt'">
        <iframe [src]="section.url | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="responsive-pdf" *ngIf="section.type === 'pdf'">
        <iframe [src]="section.url | safe" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
