<div class="parent-new">
  @for (value of values; track value; let i = $index) {
    <div (click)="onBoxClick(i)"
         [ngClass]="{
        'box-tumbleweed': i % 3 === 0,
        'box-glaucous': i % 3 === 1,
        'box-misty-moss': i % 3 === 2,
        'active': activeBox === i
      }"
      class="cell box">
      <div class="content">{{ value.title }}</div>
      <div class="description">{{ value.shortDescription }}</div>
    </div>
    <!-- Display the new box below the row if the box in this row is selected -->
    @if (i % 3 === 2 && (activeBox === i || activeBox === i-1 || activeBox === i-2)) {
      <div class="expanded-box">
        <h2>{{ selectedTitle }}</h2>
        {{ selectedExtendedDescription }}
        <!-- Explore further button -->
        @if (values[activeBox]?.exploreUrl) {
          <a [href]="values[activeBox]?.exploreUrl" class="explore-btn">Explore further</a>
        }
      </div>
    }
  }
</div>
