<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
    <footer class="eu-disclaimer container">
      <img _ngcontent-ng-cli-universal-c55="" src="/assets/eu_flag.jpg" alt="EU FLag" class="eu-flag" style="">
      <p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 101004949. 
      The content of this website reflects the opinion of its authors and does not in any way represent opinions of the European Union. European Commission is not responsible for any use that may be made of the information the website contains.</p>
    </footer>
  </div>
</body>
