<div class="search-page">
  <div class="search-header">
    <h1>Search</h1>
    <div class="search-bar">
      <input type="text" placeholder="Search" [(ngModel)]="query" (keydown)="onEnter($event)" />
      <button class="filter-button" (click)="onSearchClick()">
        <mat-icon class="filter-icon">search</mat-icon>
        Search
      </button>
    </div>
    <div class="search-results-count">
      {{ searchResults.length }} results found for &quot;<span class="query">{{ performedQuery }}&quot;</span>
    </div>
  </div>
  <div class="search-results">
    <div *ngFor="let result of searchResults" class="card" (click)="goToResult(result.url)">
      <div class="card-info">
        <h2 class="card-title">{{ result.title }}</h2>
        <p class="card-description" [innerHTML]="result.description"></p>
      </div>
      <div class="card-tag">
        <div class="tag-text">{{ result.tag }}</div>
        <a class="external-link" [href]="result.url">
          <mat-icon>launch</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="pagination">
    <a class="page-link disabled" href="#">
      <mat-icon>chevron_left</mat-icon>
    </a>
    <a class="page-link active" href="#">1</a>
    <a class="page-link" href="#">2</a>
    <a class="page-link" href="#">3</a>
    <a class="page-link" href="#">4</a>
    <a class="page-link" href="#">5</a>
    <a class="page-link" href="#">
      <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
</div>
