<div class="search-page">
  <div class="search-header">
    <h1>Search</h1>
    <div class="search-bar">
      <input type="text" placeholder="Search" [(ngModel)]="query" (keydown)="onEnter($event)" />
      <button class="filter-button" (click)="onSearchClick()">
        <mat-icon class="filter-icon">search</mat-icon>
        Search
      </button>
    </div>
    <div class="search-results-count" style="display:none!important;">
      {{ searchResults.length }} results found for &quot;<span class="query">{{ performedQuery }}&quot;</span>
    </div>
  </div>
  <app-listing [items]="searchResults" [itemsPerRow]="itemsPerRow" style="width:100%"></app-listing>
</div>
